body{
  background-color: #F0F0F0;
}
.navbar-brand{
  margin-top: -5px;
  /*margin-left: 40px;*/
  padding-left: 40px;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.navbar{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
}

#search{
  /*margin-top: 10px;*/
  margin-bottom: 10px;
}

.form-control-feedback{
  color: #DDDDDD;
}

input{
  border-radius: 2px !important;
}
input:focus{
  border-color: rgba(236, 29, 35, 0.52) !important;
}

.favorites{
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 60px 20px 10px 10px;
}
.main{
  padding: 60px;
  background-color: #F4F4F4;
  height: 100%;
  min-height: 100vh;
}

footer{
  margin-bottom: 0px;
  background-color: #2D2727;
  min-height: 80px;
  padding: 20px 10px 20px 60px;
  color: #DCDCDC;
}

footer img{
  width: 50px;
  height: 50px;
  margin-left: 62%;
}
