body{
  background-color: #F4F4F4;
}
.navbar-brand{
  margin-top: -5px;
  padding-left: 40px;
}

.navbar-center{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.navbar{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
}

#search{
  margin-bottom: 10px;
}

.form-control-feedback{
  color: #DDDDDD;
}

input{
  border-radius: 2px !important;
}
input:focus, select:focus{
  border-color: rgba(236, 29, 35, 0.52) !important;
}

select.input-lg {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 0px;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  padding: 0 0 0 10px ;
}

select + i {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  pointer-events: none;
  background-color: #fff;
  padding-right: 5px;
}

.favorites{
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 60px 20px 10px 10px;
  background-color: #F0F0F0;
  min-height: 100vh;
}
.main{
  padding: 60px;
  background-color: #F4F4F4;
  height: 100%;
  min-height: 100vh;
}

footer{
  margin-bottom: 0px;
  background-color: #2D2727;
  min-height: 80px;
  padding: 20px 10px 20px 60px;
  color: #DCDCDC;
}

footer img{
  width: 50px;
  height: 50px;
  margin-left: 62%;
}
.marvel-header{
  margin-bottom: 20px;
}
.subtitle{
  font-weight: 700;
  font-weight: bold;
}
.order{
  margin-top: 20px;
  border-radius: 1px !important;
}
.character-container{
  padding: 20px 10px 20px 25px;
}
.character-description{
  background-color: #ffffff;
}
.character-name{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  margin-top: -11px;
}
.character-description:hover .character-name{
  color: #ED1D23;
}
.character-profile{
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin-top: -15px;
  margin-left: -15px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.37);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.character-profile:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.description-text{
  padding-right: 15px;
  color: #565656;
  font-family: 'Poppins', sans-serif;
}
.related-comics{
  color: #565656;
  padding: 10px 20px 15px 30px;
}
.related-comics h4{
 font-weight: bold;
}
.btn-marvel{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  background-color: #EC1D23;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 11px;
  padding: 8px 8px 8px 8px;
  margin-top: 10px;
}

.btn-marvel:hover{
  background-color: #CB1711;
}
.comic-title{
  padding: 0px 30px 0px 0px;
}
.comic-title ul{
  padding-top: 10px;
}
.a-marvel{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #565656;
  display: block;
}
.a-marvel img{
  display: none;
  padding: 0 10px 0 0;
}

.link-icon{
  margin-right: 10px;
  display: inline;
}

/*.a-marvel:hover{
  text-decoration: none;
  color: #FF002A;
  margin-top: -5px;
  display: inline-block;
}*/
/*a:visited{
  color: #CB1711;
}*/
/*.a-marvel:hover img{
  display: inline;
  text-decoration: none;
  color: #FF002A;
}*/

ul.comic-rel{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: block;
}

li.comic-rel>a:hover {
  background: url('../images/export/icons/link-arrow.png') no-repeat left top;
  padding: 0px 0px 0px 30px;
  list-style: none;
  margin-top: 0;
  text-decoration: none;
  color: #FF002A;
}

/*Column favorites comics*/
.comic-container{
  text-align: center;
  position:relative;
  display:inline-block;
}

.comic-cover{
  margin-top: 20px;
  /*width: 100%;*/
  text-align: center;
}
.comic-cover p{
  padding-left: 0px;
}
.cover{
    padding-left: 35px;
}

.comic-fav-title{
  /*padding: 0;*/
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

/* Shine */
.shine figure {
	position: relative;
}
.shine figure::before {
	position: absolute;
	top: 0;
	left: -60%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;

}
.shine figure:hover::before {
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.delete-comic{
  background-image: url('../images/export/icons/btn-delete.png');
  background-color: transparent;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  position:absolute;
  top:-3px;
  right: 35px;
  z-index: 1;
}


/**/
.pages{
  text-align: center;
}
/*#pagination{
  margin: auto;
  align-self: center;
  border-radius: 0px !important;
}*/
.num{
  border-radius: 0px !important;
  margin: 5px;
}
a.num{
  color: #9C9C9C !important;
  font-weight: bold;
  -webkit-box-shadow: -1px 10px 15px -7px rgba(153,153,153,1);
  -moz-box-shadow: -1px 10px 15px -7px rgba(153,153,153,1);
  box-shadow: -1px 10px 15px -7px rgba(153,153,153,1);
}
/*a.num:active{
  color: #565656  !important;
  border: 1px solid #DCDCDC !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}*/

li.active>a{
  color: #565656  !important;
  border: 1px solid #DCDCDC !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
