body{
  background-color: #F4F4F4;
}
.navbar-brand{
  margin-top: -5px;
  padding-left: 40px;
}

.navbar-center{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.navbar{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.37);
}

#search{
  margin-bottom: 10px;
}

.form-control-feedback{
  color: #DDDDDD;
}

input{
  border-radius: 2px !important;
}
input:focus, select:focus{
  border-color: rgba(236, 29, 35, 0.52) !important;
}

select.input-lg {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 0px;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  padding: 0 0 0 10px ;
}

select + i {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  pointer-events: none;
  background-color: #fff;
  padding-right: 5px;
}

.favorites{
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 60px 20px 10px 10px;
  background-color: #F0F0F0;
  min-height: 100vh;
}
.main{
  padding: 60px;
  background-color: #F4F4F4;
  height: 100%;
  min-height: 100vh;
}

footer{
  margin-bottom: 0px;
  background-color: #2D2727;
  min-height: 80px;
  padding: 20px 10px 20px 60px;
  color: #DCDCDC;
}

footer img{
  width: 50px;
  height: 50px;
  margin-left: 62%;
}
.marvel-header{
  margin-bottom: 20px;
}
.subtitle{
  font-weight: 700;
  font-weight: bold;
}
.order{
  margin-top: 20px;
  border-radius: 1px !important;
}
.character-container{
  position: relative;
  padding: 20px 10px 20px 25px;
  min-height: 418px;
}
.character-description{
  background-color: #ffffff;
  min-height: 378px;
}
.character-name{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  margin-top: -11px;
  height: 44px;
  padding-left: 10px;
}
.character-storie{
  padding: 10px;
}
.character-description:hover .character-name{
  color: #ED1D23;
}
.character-profile{
  width: 180px;
  height: 180px;
  border-radius: 100%;
  margin-top: -15px;
  margin-left: -15px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.37);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.character-profile:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.description-text{
  padding-right: 15px;
  color: #565656;
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
}
.texto-desc{
  min-height: 120px;
  max-height: 120px;
  overflow-y: hidden;
}
.related-comics{
  position: relative;
  bottom: 0;
  color: #565656;
  padding: 10px 20px 15px 30px;
  margin-bottom: 0px;
}
.related-comics h4{
 font-weight: bold;
}
.btn-marvel{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  background-color: #EC1D23;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  font-size: 11px;
  padding: 8px 8px 8px 8px;
  margin-top: 10px;
}

.btn-marvel:hover{
  background-color: #CB1711;
  transition: 0.3s;
}
.comic-title{
  padding: 0px 30px 0px 0px;
}
.comic-title ul{
  padding-top: 10px;
}
.a-marvel{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #565656;
  display: block;
  /*margin-bottom: 20px !important;
  padding-bottom: 20px;*/
}
.a-marvel img{
  display: none;
  padding: 0 10px 0 0;
}

.link-icon{
  margin-right: 10px;
  display: inline;
}

/*.a-marvel:hover{
  text-decoration: none;
  color: #FF002A;
  margin-top: -5px;
  display: inline-block;
}*/
/*a:visited{
  color: #CB1711;
}*/
/*.a-marvel:hover img{
  display: inline;
  text-decoration: none;
  color: #FF002A;
}*/

ul.comic-rel{
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  display: block;
  height: 60px;
  overflow: hidden;
}

li.comic-rel{
  padding-top: 10px !important;
}

li.comic-rel>a:hover {
  background: url('../images/export/icons/link-arrow.png') no-repeat left top;
  padding: 0px 0px 0px 30px;
  list-style: none;
  margin-top: 0;
  text-decoration: none;
  color: #FF002A;
}

/*Column favorites comics*/
.comic-container{
  text-align: center;
  position:relative;
  display:inline-block;
}

.comic-cover{
  margin-top: 20px;
  /*width: 100%;*/
  text-align: center;
}
.comic-cover p{
  padding-left: 0px;
}
.cover{
    padding-left: 35px;
    display: flex;
    flex-wrap: wrap;
}

.comic-fav-title{
  /*padding: 0;*/
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

/* Shine */
.shine figure {
	position: relative;
}
.shine figure::before {
	position: absolute;
	top: 0;
	left: -60%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;

}
.shine figure:hover::before {
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.delete-comic{
  background-image: url('../images/export/icons/btn-delete.png');
  background-color: transparent;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  position:absolute;
  /*top:-3px;
  right: 35px;*/
  z-index: 1;
}

.top-right{
  top: 0;
  /*right: 17px;*/
  left: 82%;
  margin-top: 0px;
  flex: 100%;
}

.marvel-papelera{
  margin-top:-100%;
}

/**/
.pages{
  text-align: center;
}
.pages>ul>li{
  cursor: pointer;
}
/*#pagination{
  margin: auto;
  align-self: center;
  border-radius: 0px !important;
}*/
.num{
  border-radius: 0px !important;
  margin: 5px;
}
a.num{
  color: #9C9C9C !important;
  font-weight: bold;
  -webkit-box-shadow: -1px 10px 15px -7px rgba(153,153,153,1);
  -moz-box-shadow: -1px 10px 15px -7px rgba(153,153,153,1);
  box-shadow: -1px 10px 15px -7px rgba(153,153,153,1);
}
/*a.num:active{
  color: #565656  !important;
  border: 1px solid #DCDCDC !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}*/

li.active>a{
  color: #565656  !important;
  border: 1px solid #DCDCDC !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/*.related-comics{
  overflow-y: scroll;
}*/

#myModalMarvel{
  border-radius: 0px !important;
}

.add-fav, .add-car, .added-fav{
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.add-fav{
  color: #322827;
  background-color: #F0F0F0;
  transition: 0.3s;
}
.add-fav:hover, .add-car:hover{
  font-weight: 900;
  cursor: pointer;
}
.added-fav{
  color: #FF002A;
  background-color: #322827;
}
.add-car{
  color: #FF002A;
  background-color: #DCDCDC;
}

body.modal-open .main-content{
    -webkit-filter: blur(8px) !important;
    -moz-filter: blur(8px) !important;
    -o-filter: blur(8px) !important;
    -ms-filter: blur(8px) !important;
    filter: blur(8px) !important;
}

.modal-comic-title{
  /*font-stretch:extra-condensed;*/
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  padding-right:30px;
  color: #322827;
}
.texto{
  font-family: 'Poppins', sans-serif;
  padding: 0px 10px 10px 0;
  margin-right: -5px;
  font-size: 12px;
}
.comic-cover-modal{
  margin-right: -5px;
}
.center-cover{
  align-items: center;
  text-align: center;
}
.img-cover{
  width: 236px;
  height: 314px;
}

/* ANIMACIONES*/
/* slide in from the right */
@-webkit-keyframes slideInRight {
    from    { transform: translateX(100%);  }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { transform: translateX(100%);  }
    to      { transform: translateX(0); }
}
@keyframes slideInRight {
    from    { transform: translateX(100%);  }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@-webkit-keyframes slideOutLeft { to { transform: translateX(-100%); }}
@-moz-keyframes slideOutLeft { to { transform: translateX(-100%); }}
@keyframes slideOutLeft { to { transform: translateX(-100%); }}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.fade-in.two {
-webkit-animation-delay: 0.8s;
-moz-animation-delay:0.8s;
animation-delay: 0.8s;
}

.fade-in.three {
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2s;
}

.fade-in.four {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

.fade-in.five {
-webkit-animation-delay: 2.0s;
-moz-animation-delay: 2.0s;
animation-delay: 2.0s;
}

.fade-in.six {
-webkit-animation-delay: 2.4s;
-moz-animation-delay: 2.4s;
animation-delay: 2.4s;
}

.fade-in.seven {
-webkit-animation-delay: 2.8s;
-moz-animation-delay:2.8s;
animation-delay: 2.8s;
}

.fade-in.eight {
-webkit-animation-delay: 3.2s;
-moz-animation-delay: 3.2s;
animation-delay: 3.2s;
}

.fade-in.nine {
-webkit-animation-delay: 3.6s;
-moz-animation-delay: 3.6s;
animation-delay: 3.6s;
}

.fade-in.ten {
-webkit-animation-delay: 4.0s;
-moz-animation-delay: 4.0s;
animation-delay: 4.0s;
}


.ng-enter  { animation: slideInRight 1.0s both ease-in; z-index: 8888; }
.ng-leave  { animation: slideOutLeft 0.7s both ease-in; z-index: 9999; }

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Curl Top Right */
.hvr-curl-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, white 45%, #aaa 50%, #ccc 56%, white 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-right:hover:before, .hvr-curl-top-right:focus:before, .hvr-curl-top-right:active:before {
  width: 25px;
  height: 25px;
}



/*FIN ANIMACIONES*/
