<!DOCTYPE html>
<html lang="es" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <meta name="description" content="security hub">
    <link rel="icon" href="./images/export/icons/characters.png">
    <title>Marvel test - Grability - Zilerimar Fernandez</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./css/font-awesome.min.css"/>
    <link rel="stylesheet" href="./css/custom-marvel.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>
  <body ng-controller="mainController as mc" ng-cloak>
    <div class="container-fluid">
      <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
      <div id="main">
        <!-- Barra de navegacion -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container-fluid">
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand" href="#"><img src="./images/logo.png" width="80" height="40" alt=""></a>
           </div>
           <div id="navbar" class="navbar-collapse collapse">
             <div class="col-lg-5 col-lg-offset-3 col-sm-12 input-group">
                <form role="form">
                  <div class="form-group has-feedback">
                    <input id="search" type="text" class="form-control" ng-model="searchName" placeholder="Search character" ng-keydown="mc.keydown($event, 0)" ng-click="search.param='name'"/>
                    <i class="form-control-feedback"><img src="./images/export/icons/search.png" alt="" width="25px" height="25px"></i>                
                  </div>
                </form>
              </div>
           </div>
         </div>
       </nav>

        <!-- Use any element to open the sidenav -->
        <div class="row contenido">
          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 main">
            <ng-include src="'./views/view-characters.html'"></ng-include>

            <div id="pagination" class="row pages" >
              <ul id="paginacion" class="pagination-controle pagination">
                <li class="left"><a class="num" ng-click="mc.removeOnePage()"><img class="img-responsive" src="../images/export/icons/btn_arrow_left.png" width="20px" height="20px" alt=""></a></li>
                <li ng-repeat="page in pagination | limitTo : 5 : pageOffset" ng-click="select(page)" ng-class="{active: isActive(page)}"><a class="num" ng-click="mc.loadCharacters(page-1,orderFilter,searchName)">{{page}}</a></li>
                <li ng-if='pagination.length>pagination[5+pageOffset]'><a class="num">...</a></li>
                <li class="right" ><a class="num" ng-click="mc.addOnePage()"><img class="img-responsive" src="../images/export/icons/btn_arrow_right.png" width="20px" height="20px" alt=""></a></li>
             </ul>

            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 favorites main-content">
            <ng-include src="'./views/view-favorite-comics.html'"></ng-include>
          </div>
        </div>
      </div>
    </div>
    <footer>
      Grability 2017 - Todos los derechos reservados
      <img src="./images/export/grability-logo.png" alt="">
    </footer>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angularjs  -->
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-route/angular-route.min.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="./node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="./node_modules/crypto-js/crypto-js.js"></script>

    <!-- App Scripts -->
    <script src="./js/app.js" charset="utf-8"></script>
    <script type="text/javascript">

    </script>
  </body>
</html>
