<div class="row main-content" ng-init="mc.loadCharacters(0,'','')">
  <div class="row marvel-header">
    <div class="col-lg-4">
      <h3 class="subtitle">
        <img src="./images/export/icons/characters.png" alt="">
        Characters
      </h3>
    </div>
    <div class="col-lg-offset-4 col-lg-4 order">
      <select class="form-control input-lg">
        <option value="">Sort by</option>
        <option value="">Name</option>
        <option value="">Modified</option>
        <option value="">-Name</option>
        <option value="">-Modified</option>
      </select>
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 character-container fade-in one">
      <div class="character-description ">
        <div class="row description">
          <div class="col-lg-5 col-md-5 col-sm-12">
           <img class="character-profile" src="http://static-4.app4smart.me/i/icon/240/u16/mi5/ua2/spider-man-unlimited.png" alt="">
          </div>
          <div class="col-lg-7 col-md-5 col-sm-12">
            <div class="character-name">
              <p>SPIDER-MAN</p>
            </div>
            <div class="description-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
              <div class="">
                <button class="btn-marvel" type="button" name="button">view more</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row related-comics">
         <h4>Related comics</h4>
         <div class="row comic-title">
           <div class="col-lg-6 col-md-6 col-sm-12">
             <ul class="comic-rel">
               <li class="comic-rel">
                 <a class="a-marvel" role="button" data-toggle="modal" data-target="#myModalMarvel">Spider-Man/Deadpool #11</a>
               </li>
             </ul>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
              <ul class="comic-rel">
                <li class="comic-rel">
                  <a class="a-marvel" role="button" data-toggle="modal" data-target="#myModalMarvel">The Clone Conspiracy #2</a>
                </li>
              </ul>
           </div>
         </div>
         <div class="row comic-title">
           <div class="col-lg-6 col-md-6 col-sm-12">
             <ul class="comic-rel">
               <li class="comic-rel">
                 <a class="a-marvel" role="button" data-toggle="modal" data-target="#myModalMarvel">Spidy #12</a>
               </li>
             </ul>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
             <ul class="comic-rel">
               <li class="comic-rel">
                 <a class="a-marvel" role="button" data-toggle="modal" data-target="#myModalMarvel">Avengers #1</a>
               </li>
             </ul>
           </div>
         </div>


        </div>
      </div> <!-- End character description -->
    </div> <!-- End character container -->
    <div class="col-lg-6 col-md-6 col-sm-12 character-container  fade-in two">
      <div class="character-description">
        <div class="row description">
          <div class="col-lg-5 col-md-5 col-sm-12">
           <img class="character-profile" src="https://static.comicvine.com/uploads/square_small/1/14487/5775570-blackwidow.jpg" alt="">
          </div>
          <div class="col-lg-7 col-md-5 col-sm-12">
            <div class="character-name">
              <p>Black widow</p>
            </div>
            <div class="description-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
              <div class="">
                <button class="btn-marvel" type="button" name="button">view more</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row related-comics">
         <h4>Related comics</h4>
         <div class="row comic-title">
           <div class="col-lg-6 col-md-6 col-sm-12">
             <ul class="comic-rel">
               <li class="comic-rel">
                 <a class="a-marvel" role="button" data-toggle="modal" data-target="#myModalMarvel">Spider-Man/Deadpool #11</a>
               </li>
             </ul>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
              <ul class="comic-rel">
                <li class="comic-rel">
                  <a class="a-marvel" role="button" data-toggle="modal" data-target="#myModalMarvel">The Clone Conspiracy #2</a>
                </li>
              </ul>
           </div>
         </div>
         <div class="row comic-title">
           <div class="col-lg-6 col-md-6 col-sm-12">
             <ul class="comic-rel">
               <li class="comic-rel">
                 <a class="a-marvel" role="button" data-toggle="modal" data-target="#myModalMarvel">Spidy #12</a>
               </li>
             </ul>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-12">
             <ul class="comic-rel">
               <li class="comic-rel">
                 <a class="a-marvel" role="button" data-toggle="modal" data-target="#myModalMarvel">Avengers #1</a>
               </li>
             </ul>
           </div>
         </div>
        </div>
      </div>   <!-- End character description -->
    </div> <!-- End character container -->
    </div>
    <div id="pagination" class="row pages" >
      <ul class="pagination">
        <li class="left"><a class="num" href="#"><img class="img-responsive" src="../images/export/icons/btn_arrow_left.png" width="20px" height="20px" alt=""></a></li>
        <li class="active"><a class="num" href="#">1</a></li>
        <li><a class="num" href="#">2</a></li>
        <li><a class="num" href="#">3</a></li>
        <li><a class="num" href="#">4</a></li>
        <li><a class="num" href="#">5</a></li>
        <li><a class="num" href="#">...</a></li>
        <li class="right"><a class="num" href="#"><img class="img-responsive" src="../images/export/icons/btn_arrow_right.png" width="20px" height="20px" alt=""></a></li>
     </ul>
    </div>
  </div>
<!-- </div> -->

<!-- Modal -->
<div class="modal fade" id="myModalMarvel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <span aria-hidden="true">&times;</span> -->
        <button type="button" class="close" data-dismiss="modal" ><img src="../images/export/icons/btn-close.png" alt=""></button>
        <!-- <h4 class="modal-title">Modal title</h4> -->
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="col-lg-5 col-md-5 col-sm-12 center-cover">
            <img class="img-responsive img-cover" src="http://cdn1.sciencefiction.com/wp-content/uploads/2012/04/300px-Avengers_Vol_3_1.jpg" alt="">
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <h3 class="modal-comic-title">all the new, all diferent avengers (2015) #1.1</h3>
            <div class="texto">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-6 col-md-6 col-sm-6 add-fav">
          <img src="./images/export/icons/btn-favourites-default.png" alt="" ng-show="true">
          <img src="./images/export/icons/btn-favourites-primary.png" alt="" ng-show="false">
          add favourites
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 add-car">
          <img src="./images/export/icons/shopping-cart-primary.png" alt="">
          buy for $3.99
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
