<h4>NOT FOUND MATCHES</h4>
<div class="ask-user">
  <p>Do you want to search with another parameter?</p>
  <div class="col-lg-12 input-group">
     <form role="form">
       <div class="form-group has-feedback row">
         <div class="col-lg-2 col-md-2 col-sm-6">
           <label class="radio-inline">
            <input type="radio"  ng-model="search.param" value="nameStartsWith">
            Name Starts With
          </label>
         </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <label class="radio-inline">
            <input type="radio"  ng-model="search.param" value="modifiedSince">
            Modified Since
          </label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <label class="radio-inline">
            <input type="radio"  ng-model="search.param" value="comics">
            Comics ID's (comma-separated)
          </label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <label class="radio-inline">
            <input type="radio"  ng-model="search.param" value="series">
            Series ID's (comma-separated)
          </label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <label class="radio-inline">
            <input type="radio"  ng-model="search.param" value="events">
            Events ID's (comma-separated)
          </label>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
          <label class="radio-inline">
            <input type="radio"  ng-model="search.param" value="stories">
            Stories ID's (comma-separated)
          </label>
        </div>
        <br><br>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <input id="search1" type="text" class="form-control" ng-model="search.name" placeholder="Search character" ng-keydown="mc.keydown($event,1)"/>
            <small class="form-text text-muted">Press enter for search.</small>
          </div>
        </div>
       </div>
     </form>
   </div>
</div>
