<div class="row main-content" ng-init="mc.loadCharacters(0,'','')">
  <div class="row marvel-header">
    <div class="col-lg-4">
      <h3 class="subtitle">
        <img src="./images/export/icons/characters.png" alt="">
        Characters
      </h3>
    </div>
    <div class="col-lg-offset-4 col-lg-4 order">
      <select class="form-control input-lg" ng-model="orderFilter" ng-change="mc.loadCharacters(0,orderFilter,searchName)">
        <option value="">Sort by</option>
        <option value="name">Name</option>
        <option value="modified">Modified</option>
        <option value="-name">-Name</option>
        <option value="-modified">-Modified</option>
      </select>
      <i class="fa fa-chevron-down"></i>
    </div>
  </div>

  <div class="row">
    <div class="not-found" ng-show="notFound">
      <ng-include src="'./views/view-not-character-found.html'"></ng-include>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 character-container fade-in {{classCSS[$index]}}" ng-repeat="character in model.characters">
      <div class="character-description ">
        <div class="row description">
          <div class="col-lg-5 col-md-12 col-sm-12" style="text-align: center;" >
           <img class="character-profile" ng-src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="">
          </div>
          <div class="col-lg-7 col-md-5 col-sm-12">
            <div class="character-name">
              <p>{{character.name}}</p>
            </div>
            <div class="description-text">
              <div class="texto-desc">
                <p ng-show="character.description.length>0">{{character.description}}</p>
                <p ng-show="character.description.length==0" style="text-align: center; color: #666666; font-weight:bold;">CHARACTER WITHOUT DESCRIPTION REGISTERED</br></p>
              </div>
              <div class="">
                <button class="btn-marvel hvr-float-shadow" type="button" name="button">view more</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row related-comics">
         <h4>Related comics</h4>
         <div class="row comic-title">
           <p style="padding: 15px; color: #9C9C9C; font-weight: bold;" ng-show='character.comics.available==0'> NOT FOUND RELATED COMICS </p>
           <div class="col-lg-6 col-md-6 col-sm-12" ng-repeat="comic in character.comics.items | limitTo:4">
             <ul class="comic-rel">
               <li class="comic-rel">
                 <a class="a-marvel" role="button" data-toggle="modal" data-target="#myModalMarvel" ng-click="mc.loadComic(comic.resourceURI)">{{comic.name}}</a>
               </li>
             </ul>
           </div>
         </div>
        </div>
      </div> <!-- End character description -->
    </div> <!-- End character container -->
    </div>

  </div>
<!-- </div> -->

<!-- Modal -->
<div class="modal fade" id="myModalMarvel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ><img src="../images/export/icons/btn-close.png" alt=""></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 center-cover">
            <div class="hvr-float-shadow">
              <figure>
                <img class="img-responsive img-cover" src="{{comicDescription.image}}" alt="">
              </figure>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12">
            <h3 class="modal-comic-title">{{comicDescription.title}}</h3>
            <div class="texto">
              <p ng-bind-html="comicDescription.description"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-lg-6 col-md-6 col-sm-6 add-fav">
          <img src="./images/export/icons/btn-favourites-default.png" alt="" ng-show="true">
          <img src="./images/export/icons/btn-favourites-primary.png" alt="" ng-show="false">
          add favourites
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 add-car">
          <a href="{{comicDescription.carLink}}" target="_blank">
            <img src="./images/export/icons/shopping-cart-primary.png" alt="">
            buy for ${{comicDescription.price}}
          </a>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
