<div class="container-fluid">
  <p>Hola!</p>
  <p>Esto es una prueba</p>
  <a href="#">Esto es un link</a>
  <input type="text" class="form-control custom-focus-border" placeholder="Search" />
  </br>
  <button type="button" class="btn btn-primary custom-focus-border">Primary</button>
  <button type="button" class="btn btn-info custom-focus-border">Info</button>
  <button type="button" class="btn btn-danger custom-focus-border">Delete</button>
  <button type="button" class="btn btn-warning custom-focus-border">Warning</button>
  <button type="button" class="btn btn-success custom-focus-border">Success</button>
  <select class="custom-focus-border" name="">
    <option value="">Selecciona un campo</option>
    <option value="">Selecciona un campo</option>
    <option value="">Selecciona un campo</option>
    <option value="">Selecciona un campo</option>
    <option value="">Selecciona un campo</option>
  </select>
  <br><br>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <textarea class="textarea-focus-border" name="name" rows="8" cols="40"></textarea>
    </div>
    <form class="" action="index.html" method="post">
      <input type="date" name="bday" class="form-control">
    </form>

  </div>
  <br>
  <div class="radio-item">
      <input type="radio" id="ritema" name="ritem" value="ropt1">
      <label for="ritema">Option 1</label>
  </div>

  <div class="radio-item">
      <input type="radio" id="ritemb" name="ritem" value="ropt2">
      <label for="ritemb">Option 2</label>
  </div>
<div class="row item-div gray">
  <div class="checkbox chk">
      <input id="checkbox1" type="checkbox" class="custom-focus-border">
      <label for="checkbox1">
          Default
      </label>
  </div>
  <div class="checkbox checkbox-primary chk">
      <input id="checkbox2" type="checkbox" checked="">
      <label for="checkbox2">
          Primary
      </label>
  </div>
  <div class="checkbox checkbox-success chk">
      <input id="checkbox3" type="checkbox">
      <label for="checkbox3">
          Success
      </label>
  </div>
  <div class="checkbox checkbox-info chk">
      <input id="checkbox4" type="checkbox">
      <label for="checkbox4">
          Info
      </label>
  </div>
  <div class="checkbox checkbox-warning chk">
      <input id="checkbox5" type="checkbox" checked="">
      <label for="checkbox5">
          Warning
      </label>
  </div>
  <div class="checkbox checkbox-danger chk">
      <input id="checkbox6" type="checkbox" checked="">
      <label for="checkbox6">
          Check me out
      </label>
  </div>
  <p>Inline checkboxes</p>
  <div class="checkbox checkbox-inline">
      <input type="checkbox" id="inlineCheckbox1" value="option1">
      <label for="inlineCheckbox1"> Inline One </label>
  </div>
  <div class="checkbox checkbox-success checkbox-inline">
      <input type="checkbox" id="inlineCheckbox2" value="option1" checked="">
      <label for="inlineCheckbox2"> Inline Two </label>
  </div>
  <div class="checkbox checkbox-inline">
      <input type="checkbox" id="inlineCheckbox3" value="option1">
      <label for="inlineCheckbox3"> Inline Three </label>
  </div>
</div>
  <br>

  <br>
  <div class="row">
      <p>Div 3 columns</p>
      <div class="col-lg-3 col-md-3">
        <div class="item-div">
          <p>Esto es un div</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="item-div">
          <p>Esto es un div</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="item-div">
          <p>Esto es un div</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="item-div">
          <p>Esto es un div</p>
        </div>
      </div>
  </div>
  <br>
  <div class="row">
      <p>Div 4 columns</p>
      <div class="col-lg-4 col-md-4">
        <div class="item-div">
          <p>Esto es un div</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="item-div">
          <p>Esto es un div</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="item-div">
          <p>Esto es un div</p>
        </div>
      </div>
  </div>
  <div class="row">
      <p>Div 12 columns color</p>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fila">
        <div class="row item-div item">
          <!-- <p>#1</p> -->
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 0</p>
            <p class="subtitulo negrita">Zilerimar Fernandez</p>
            <p class="text-muted subtitulo">29/05/2017</p>
            <button type="button" class="btn btn-purple btn-xs custom-focus-border">Ver más detalles</button>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 1</p>
            <p class="subtitulo">Esto es un contenido</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 2</p>
            <p class="subtitulo">Esto es un contenido</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 3</p>
            <p class="subtitulo">Esto es un contenido</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 4</p>
            <p class="subtitulo">Esto es un contenido</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Status</p>
            <p class="subtitulo"><span class="badge badge-danger">Rechazado</span></p>
            <p class="text-muted subtitulo">29/05/2017</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fila">
        <div class="row item-div item">
          <!-- <p>#2</p> -->
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 0</p>
            <p class="subtitulo negrita">Sheldon Cooper</p>
            <p class="subtitulo text-muted">29/05/2017</p>
            <button type="button" class="btn btn-aguamarine btn-xs custom-focus-border">Ver más detalles</button>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 1</p>
            <p class=" subtitulo">Esto es un contenido</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 2</p>
            <p class=" subtitulo">Esto es un contenido</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 3</p>
            <p class=" subtitulo">Esto es un contenido</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Columna 4</p>
            <p class=" subtitulo">Esto es un contenido</p>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="titulo-item">Status</p>
            <p class=" subtitulo"><span class="badge badge-success">Aprobado</span></p>
            <p class="text-muted subtitulo">29/05/2017</p>
          </div>

        </div>
      </div>

  </div>

<!-- Tabla -->
  <hr>
  <p>Esto es una tabla</p>
  <div class="row">
    <div class="item-div col-lg-12 table-responsive">
      <table class="table">
        <tr>
          <th> # <span class="caret"></span> </th>
          <th>Columna 1 <span class="caret"></span> </th>
          <th>Columna 2 <span class="caret"></span></th>
          <th>Columna 3 <span class="caret"></span></th>
          <th>Columna 4 <span class="caret"></span></th>
          <th>Columna 5 <span class="caret"></span></th>
          <th>Columna 6 <span class="caret"></span></th>
          <th>Status <span class="caret"></span></th>
        </tr>
        <tbody>
          <tr>
            <td>1</td>
            <td >
              <p class="td-contenido negrita">
                Zilerimar Fernandez
              </p>
              <p class="text-muted">
                29/05/2017
              </p>
              <button type="button" class="btn btn-aguamarine btn-xs custom-focus-border">Ver más detalles</button>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td class="td-contenido">29/05/2017</td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class=" subtitulo table-badge"><span class="badge badge-danger">Rechazado</span></p>
              <p class="text-muted subtitulo">29/05/2017</p>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <p class="td-contenido negrita">
                Sheldon Cooper
              </p>
              <p class="text-muted">
                29/05/2017
              </p>
              <button type="button" class="btn btn-aguamarine btn-xs custom-focus-border">Ver más detalles</button>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class="td-contenido">29/05/2017</p>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class="subtitulo table-badge"><span class="badge badge-success">Aprobado</span></p>
              <p class="text-muted subtitulo">29/05/2017</p>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <p class="td-contenido negrita">
                Mr. Robot
              </p>
              <p class="text-muted">
                29/05/2017
              </p>
              <button type="button" class="btn btn-aguamarine btn-xs custom-focus-border">Ver más detalles</button>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td><p class="td-contenido">29/05/2017</p></td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class="td-contenido">
               Columna contenido
              </p>
            </td>
            <td>
              <p class="subtitulo table-badge"><span class="badge badge-success">Aprobado</span></p>
              <p class="text-muted subtitulo">29/05/2017</p>
            </td>
          </tr>
        </tbody>


      </table>
    </div>

  </div>

  </div>

</div>
