<div class="col-lg-6 col-md-6 col-sm-6 {{classFav}}" ng-click="addComic(comicDescription, 0)">
  <img src="./images/export/icons/btn-favourites-default.png" alt="" ng-show="isComicAddedFav(comicDescription)==-1" >
  <img src="./images/export/icons/btn-favourites-primary.png" alt="" ng-show="isComicAddedFav(comicDescription)!=-1" >
  add{{ed}} favourites
</div>
<div class="col-lg-6 col-md-6 col-sm-6 add-car">
  <a href="{{comicDescription.carLink}}" target="_blank">
    <img src="./images/export/icons/shopping-cart-primary.png" alt="">
    buy for ${{comicDescription.price}}
  </a>
</div>
